@import "tailwindcss";
@import "tw-animate-css";

body {
  font-family: var(--font-poppins);
}

@custom-variant dark (&:is(.dark *));



@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-text-primary: var(--text-primary);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
  
}

:root {
  --background: #E5E5E5;
  --primary: #E76F51;
  --text-primary:#000000;
 
}

.dark {
  /* --background: oklch(59.46% 0.22454 27.54); */
  --background: #121212;      /* Deep dark gray, easy on the eyes */
  --primary: #E76F51;         /* Keep same vibrant orange for contrast */
  --text-primary: #FFFFFF;
  
}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
